<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mauricio nokogiri </h1>

    <p>
      IAT OFFLINE<br>

    </p>
    <p>
      Visita nuestra pagina <%= @url %>.
    </p>
    <p>Gracias y que tengas un excelente día!</p>
  </body>
</html>