%h3 Formato de los archivos csv para subir documentos manuales
%br
%h5 Los archivos que acepta el proceso son CSV, separados por coma "," o punto y coma ";" 
%h5 Los valores string deben presentarse sin cremillas en el archivo.
%br
%br
%h4 Documentos de Venta Manuales
%table.table.table-striped
  %tr
    %th tipodoc
    %th folio
    %th cantidad
    %th fchemis
    %th rutemisor
    %th rutrecep
    %th rznsocrecep
    %th mntneto
    %th mntexe
    %th mntiva
    %th otrosimpto
    %th mnttotal
    %th impto18
    %th impto10
    %th impto25
    %th impto30
    %th Estado
%br
%br
%br
%h4 Documentos de Compra Manuales
%table.table.table-striped
  %tr
    %th tipodoc
    %th folio
    %th fchemis
    %th rutemisor
    %th rutrecep
    %th rznsocemisor
    %th mntneto
    %th mntexe
    %th mntiva
    %th otrosimpto
    %th mnttotal
    %th impto18
    %th impto10
    %th impto25
    %th impto30
    %th Estado
