%h3 Formato de los archivos csv para subir documentos manuales
%br
%h5 Los archivos que acepta el proceso son CSV, separados por punto y coma ";" 
%h5 Los valores string deben presentarse sin cremillas en el archivo.
%br
%br
%h4 Documentos de Venta Manuales

%td= link_to "Archivo de Ejemplo", "/uploadformat/fileventas", class: "btn btn-primary btn-xs"
/ formatoDocCompras.csv

%h4 Documentos de Compra Manuales
%td= link_to "Archivo de Ejemplo", "/uploadformat/filecompras", class: "btn btn-primary btn-xs"

